/*atelier polices*/
body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
h2, h3, p {

	padding: 5px 10px 0px 10px;
}

footer h3 {font-family: 'Shrikhand', sans-serif;

padding-left: 28px;} 

.titre_resto {
	font-family: 'Shrikhand', sans-serif;
	text-align: left;
}

/*atelier coloriage */
.bg_1 {background-color: #99E2D0} /*cyan*/
.bg_2 {background-color: #CBCBCB} /*dark grey*/
.bg_3 {background-color: #E3E3E3} /*medium grey*/
.bg_4 {background-color: #99E2D0} /*cyan*/
.bg_5 {background-color: #9356DC} /*violet*/
.bg_white {background-color: white}

/*skin des boutons*/
	/* paramétrage des boutons "explorer" & "commander" */

.bt_main {
	color: white;
	background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
	font-size: 20px;
	padding: 10px 24px;
	border: none; 
	border-radius: 25px;
	box-shadow: 5px 6px 5px #CBCBCB;
	}

a {text-decoration: none;}

/* paramétrage des footers */

footer {
	text-align: left;
	padding-bottom: 25px;
}
.foot_color { 
	background-color: #373737;
	color: white;
	padding-top: 1px;
}
.foot_color a:link {color:white;}
.foot_color a:visited {color:#9356DC;}
.foot_color a:hover {color:#99E2D0;}
.foot_color a:active {color:#99E2D0;}

/* paramétrage des headers */

.header_menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding-top: 10px;
}

#img_logo {
	width:100%;
	max-width: 300px;
	height: auto;
}
.omf_flex_item{
	flex-grow:3;
}
#omf_logo {
	width:90%;
	max-width:300px;

}
.btn_back {
	max-width:20%;
	flex-grow: 1;
}

/*index*/

#presentation{
	padding-bottom: 40px;
}

/* paramétrage des bulles de fonctionnement index */

#fonctionnement {
	display : flex;
	flex-direction : column;
	text-align: left;
}

.fonction {
	position:relative;
	margin-left: 25px;
	text-align: left;
}
.fct_bubble {
	border-radius: 25px;
	padding:20px;
	margin: 10px;
	box-shadow: 7px 7px 7px #CBCBCB;
}
.fct_ico {
	margin-right: 20px;
	margin-left: 15px;
	color: #9356DC; /* violet*/
}

.fct_chiffre {
	position: absolute;
	top:25px;
	border-radius: 15px;
	width:30px;
	height:30px;
	color:white;
	text-align: center;
}


#restos {
	margin: auto;
	text-align: left;
}

#liste_restos {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  	align-items: center;
}

.present_rest img {
	width: 100%;
	max-width: 700px;
	height: auto;
	border-radius: 25px 25px 0px 0px;
}

.present_rest h2 {
	text-align: left;
}

.present_rest p {
	text-align: left;
}



.relative {position: relative;}

.absolute_nouveau {	
	width: 80px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 12px;
	text-align: center;
}

/*présentation restaurants index*/

.cellule_index {

	border-radius: 25px;
	margin: 15px;
}

.cellule_index p {
	margin-left: 0px;
}

.flex_present {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

	
  		align-items: baseline;
}

.flex_present h2 {
	flex-grow: 9;
}

.coeur {

	flex-grow: 2;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.coeur:hover .like{
	display: inline-block;
}
.coeur:hover .like2{
	display:none;
}

.like2 {

    position: absolute;
    top: 0px;
    left: 0px;
    background-color:red;
}
.like {
	display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #9356DC;
}

/*menus*/
#img_menu {
	position : relative ;
	margin: auto;
	width: 100%;
	max-width: 600px;
	height: auto;
}

#img_menu img{
	width: 100%;
	max-width: 600px;
	height: auto;
}

#menu {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: left;
}

.radius_top{
	position : absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
	border-radius: 30px 30px 0px 0px;
}

/* paramétrage des boutons des plats */

.plats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 25px;
	background-color: white;
	cursor: pointer;
	height: 70px;
	width: 100%;
	width:350px;
}

.plats:hover .plats_txt{
	max-width:60%;
}

.plats:hover .plats_vides {
	flex-grow: 0;
}


.plats:hover .plats_prix{
	min-width:10%;
}

.plats:hover .plats_icone {
	transform: rotate(360deg);
	right: 35%;
	color:  white;
}

.plats:hover .plats_box_icone {
	flex-grow: 4;
}

.plats_txt {
	transition: all 2s;
	border-radius: 25px;
	max-width:80%;
}

.plats_txt h3, p {
	margin-top: 0px ;
	margin-bottom: 10px ;
	margin-left: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.plats_vides {
	flex-grow: 4;
	transition: all 2s;
}

.plats_prix {
	transition: all 2s;
	border-radius: 25px;
	min-width:20%;
}

.plats_prix p {
	margin:auto;
	margin-top: 40px;
	text-align: left;
	transition: all 2s;
}

.plats_icone {
	position: absolute;
	right: -35px;
	top:20px;
	transition: all 2s;
	color:  #E3E3E3;
}

.plats_box_icone {
	position:relative;
	transition: all 2s;
	background-color: #99E2D0;
	border-radius: 0px 25px 25px 0px;
	border:0px;
	flex-basis: 0px;
}



@media (min-width: 600px){

	h1 {text-align: center;}

	footer {text-align: center;}

	#liste_restos {
		flex-direction: row; 
		text-align: left;
		justify-content: space-around;
	}

	.liste_restos img {
		min-width: 600px;
	}

	#menu {
		flex-direction: row; 
		justify-content: space-around;
	}

	.titre_resto {
		text-align: center;
	}

	#fonctionnement {
	  	flex-direction: row;
		justify-content: space-around;
	 }
}