/*atelier polices*/
body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h2, h3, p {
	padding: 5px 10px 0px 10px;
}

footer h3 {
	font-family: 'Shrikhand', sans-serif; 
	padding-left: 28px;
} 

.titre_resto {
	font-family: 'Shrikhand', sans-serif;
	text-align: left;
	margin-left: 12px;
}

/*atelier coloriage */
.bg_1 {background-color: #99E2D0} /*cyan 1*/
.bg_2 {background-color: #CBCBCB} /*dark grey*/
.bg_3 {background-color: #E3E3E3} /*medium grey*/
.bg_4 {background-color: #99E2D0} /*cyan 2*/
.bg_5 {background-color: #9356DC} /*violet*/
.bg_white {background-color: white}

/*skin des boutons*/
	/* paramétrage des boutons "explorer" & "commander" */

.bt_main {
	color: white;
	background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
	font-size: 20px;
	padding: 10px 24px;
	border: none; 
	border-radius: 25px;
	box-shadow: 5px 6px 5px #CBCBCB;
	margin: 25px;
}

.bt_main:hover {
	background-image: linear-gradient(to bottom right, #ffa1e5, #b388e6);
	box-shadow: 10px 12px 10px #8e8e8e;
}

.bt_main a:link {color:white;}
.bt_main a:visited {color:white;}
.bt_main a:hover {color:white;}
.bt_main a:active {color:white;}

a {text-decoration: none;}

/*Chargement*/

.chargement {
	position: fixed;
	z-index: 1;
	opacity: 0.6;
	left: -100%;
	width: 100%;
	height: 110%;
	margin-top: -20px;
	animation-name: chargement;
	animation-duration: 3s;
}

@keyframes chargement {
  	0% {left: 0%;}	
  	100% {left: 0%;}
}

/*Spinner*/

.spinner {
	animation-name: spinner;
	animation-duration:3s;
  	position: fixed;
  	top: 300px;
  	left: -100px;
  	z-index: 2;
}

@keyframes spinner {
  0%   {
  	left: 47%;
    color: black;
	transform: rotate(1080deg);
	}
  100% {
  	left: 47%;
  	color: #9356DC;
	}
}

/* paramétrage des headers */

.header_menu {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding-top: 10px;
}

#img_logo {
	width:100%;
	max-width: 300px;
	height: auto;
}
.omf_flex_item{
	flex-grow:3;
}
#omf_logo {
	width:90%;
	max-width:300px;
}
.btn_back {
	max-width:20%;
	flex-grow: 1;
}
.header_menu a:link {color:black;}
.header_menu a:visited {color:black;}
.header_menu a:hover {color:#9356DC;}
.header_menu a:active {color:#9356DC;}


/* paramétrage des footers */

footer {	
	background-color: #353535;
	color: white;
	padding-top: 1px;
	padding-bottom: 20px;
	text-align: left;
}

footer a:link {color:white;}
footer a:visited {color:#9356DC;}
footer a:hover {color:#99E2D0;}
footer a:active {color:#99E2D0;}

/*index*/

#presentation{
	padding-bottom: 40px;
}

/* paramétrage des bulles de fonctionnement index */

#fonctionnement {
	display : flex;
	flex-direction : column;
	text-align: left;
}

.fonction {
	position:relative;
	margin-left: 25px;
	text-align: left;
}
.fct_bubble {
	border-radius: 25px;
	padding:20px;
	margin: 10px;
	box-shadow: 7px 7px 7px #CBCBCB;
}
.fct_ico {
	margin-right: 20px;
	margin-left: 15px;
	color: #9356DC; /* violet*/
}

.fct_chiffre {
	position: absolute;
	top:25px;
	border-radius: 15px;
	width:30px;
	height:30px;
	color:white;
	text-align: center;
}

#restos {
	margin: auto;
	text-align: left;
}

#liste_restos {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  	align-items: center;
}

.present_rest img {
	width: 100%;
	max-width: 700px;
	height: auto;
	border-radius: 25px 25px 0px 0px;
}

.present_rest h2 {
	text-align: left;
}

.present_rest p {
	text-align: left;
}

.relative {position: relative;}

.absolute_nouveau {	
	width: 70px;
	height: 20px;
	position: absolute;
	top: 12px;
	right: 12px;
	text-align: center;
	color: #139273;
	border-radius: 5px;
	padding: 7px;
}

/*présentation restaurants index*/

.cellule_index {

	border-radius: 25px;
	margin: 15px;
}

.cellule_index p {
	margin-left: 0px;
}

.flex_present {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
  		align-items: baseline;
}

.flex_present h1, h2 {
	flex-grow: 9;
}

.coeur {
	position: relative;
	cursor: pointer;
	width: 60px;
}

.coeur:hover .like{
	display: inline-block;
	background: linear-gradient(#e72c83,#a742c6);
	background-clip: text;						
	/*-webkit-background-clip: text;*/
	color: transparent;
}
.coeur:hover .like2{
	display:none;
}

.like2 {
    position: absolute;
    top: -10px;
    left: 0px;
}
.like {
	display: none;
    position: absolute;
    top: -10px;
    left: 0px;
    color: #9356DC;
}

/*menus*/

#img_menu {
	position : relative ;
	margin: auto;
	width: 100%;
	max-width: 600px;
	height: auto;
	margin-bottom: 15px;
}

#img_menu img{
	width: 100%;
	max-width: 600px;
	height: auto;
}

#menu {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: left;
}

.radius_top {
	position : absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
	border-radius: 30px 30px 0px 0px;
}

hr {
    margin-left: 10px ;
	margin-top: -15px;
	margin-bottom: 18px;
    width: 60px;
    border: 2px solid #99E2D0;
}

/*paramétrage animations plats*/

#entrees {
	animation:on_load 3s;
}  

#repas {
	animation:on_load 5s;
	animation-delay: 2s;
	animation-fill-mode: backwards;
}

#desserts {
	animation:on_load 7s;
	animation-delay: 4s;
	animation-fill-mode: backwards;
}

@keyframes on_load{
	0% {opacity: 0; margin-top: 20px; margin-bottom: 0px;}
	100% {opacity: 1; margin-top: 0px; margin-bottom: 20px; }
}

/*
$("#entrees").delay(500).fadeIn();
$("#repas").delay(1000).fadeIn();
$("#desserts").delay(1000).fadeIn();
*/

/* paramétrage des boutons des plats */

.plats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 25px;
	background-color: white;
	cursor: pointer;
	height: 70px;
	width: 100%;
	width:350px;
	margin-bottom: 15px;
	margin-right: 35px;
	box-shadow: 3px 3px 4px #aaa;
}

.plats:hover .plats_txt{
	max-width:60%;
}

.plats:hover .plats_vides {
	flex-grow: 0;
}

.plats:hover .plats_prix{
	min-width:10%;
}

.plats:hover .plats_icone {
	transform: rotate(360deg);
	right: 35%;
	color:  white;
}

.plats:hover .plats_box_icone {
	flex-grow: 4;
}

.plats_txt {
	transition: all 2s;
	border-radius: 25px;
	max-width:80%;
	min-width: 60%;
}

.plats_txt h3, p {
	margin-top: 0px ;
	margin-bottom: 10px ;
	margin-left: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.plats_vides {
	flex-grow: 4;
	transition: all 2s;
}

.plats_prix {
	transition: all 2s;
	border-radius: 25px;
	min-width:20%;
}

.plats_prix p {
	margin:auto;
	margin-top: 40px;
	text-align: left;
	transition: all 2s;
}

.plats_icone {
	position: absolute;
	right: -35px;
	top:20px;
	transition: all 2s;
	color:  #E3E3E3;
}

.plats_box_icone {
	position:relative;
	transition: all 2s;
	background-color: #99E2D0;
	border-radius: 0px 25px 25px 0px;
	border:0px;
	flex-basis: 0px;	
}

@media (min-width: 600px){

	h1 {text-align: center;}

	footer {text-align: center;}

	#liste_restos {
		flex-direction: row; 
		text-align: left;
		justify-content: space-around;
	}

	.liste_restos img {
		min-width: 600px;
	}

	.titre_resto {
		text-align: center;
	}

	#fonctionnement {
	  	flex-direction: row;
		justify-content: space-around;
	 }
}